{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 70,
  "trailingComma": "all"
}
